/*
/*/
!/app
!/tests
!/.dockerignore
!/Dockerfile
!/.gitignore
!/.pre-commit-config.yaml
!/pyproject.toml
!/*.md
!/Makefile
# normally you'd want to exclude .envs, but included here to make setup painless
!/.env
__pycache__
.DS_Store
